@charset "utf-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    align-items: center;
    text-align: center;
    background-image:linear-gradient(white,rgb(0, 162, 255),black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0 auto;
}

h1{
    padding:30px;
}

form{
background-color: white;
padding: 10px;
}

.destaque{
background-color:rgb(143, 214, 255) ;
border: solid black 3px;
}
#f_ipca{
    width: 50px;
}
#f_selic{
    width: 50px;
}
.botoes{
    padding: 15px;
    background-image:linear-gradient(#fff,rgb(2, 77, 121));
}
.botoes:hover{
    background-image:linear-gradient(#fff,gray);
}

#f_botoes{
    padding: 10px;
}

#creditos{
    padding: 5px;
    color: #fff;
}
